<!-- extends "base.html" means we import all the code from base.html, for instance styling or meta info -->
<!-- block title is overridden with "Home Page" -->
<!-- block content is overridden with just a p tag -->
{% extends "base.html" %} {% block title %} Welcome {% endblock %}
{% block content %} <h3>Welcome</h3>
<p>I made this project as I wanted to improve my understanding of Python and Django, having primarily worked in Express, React and Next JS.</p>
<p>I wrote the readme to describe the project setup, and I then created this slightly bigger project with AI-generated overviews of key Django topics, aimed at an audience that is more experienced in JavaScript.</p>
<p>In short, this is my first time creating a django project, getting to know its pros and cons, and understanding its project / app / url / views structures.</p>
<a href="https://github.com/jamesdiffeycoding">Visit my GitHub portfolio</a>
{% endblock %}